@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

@media only screen and (min-width: 701px) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    display: inline-flex;
  }

  .sideButtons {
    position: relative;
    right: -85%;
    top: -300px;
    display: block;
  }

  button {
    color: "primary";
  }

  .buttonText {
    font-family: "Comfortaa", cursive;
    font-size: 20px;
  }

  .rightButton {
    margin-left: 100px;
  }

  .centerButton {
    margin-left: 100px;
  }

  .leftButton {
    margin-left: 100px;
  }

  .headerText {
    font-family: "Comfortaa", cursive;
    font-size: 36px;
  }

  .buttonOption4 {
    height: 120px;
  }

  .imageResponse {
    width: 100px;
    height: 75px;
  }

  .playerButtons {
    width: 150%;
    margin: 10px 10px 10px 10px;
  }

  .seekButtons {
    position: relative;
    top: -300px;
  }

  .headerDiv {
    font-family: "Comfortaa", cursive;
    display: inline-block;
    text-align: center;
    color: white;
  }

  body {
    /* Full height */

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    background-image: url("../backgroundParty.jpg");
  }

  .buttonPadding {
    display: inline-flex;
    padding: 0;
  }

  p {
    color: white;
  }
}
@media only screen and (max-width: 700px) {
  body {
    background-position: center;
    background-size: cover;
    background-image: url("../backgroundParty.jpg");
  }

  .headerDiv {
    text-align: left;
  }

  .headerText {
    font-size: 12px;
    color: white;
  }

  .buttonPadding {
    display: "flex";
    padding-top: 5px;
  }

  p {
    font-size: small;
    width: 80%;
    padding-left: 5px;
    color: white;
  }

  .buttonText {
    font-family: "Comfortaa", cursive;
    font-size: 10px;
  }

  .sideButtons {
    position: relative;
    right: -10%;
    top: 20px;
    display: inline-flex;
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 10;
    width: 100%;
    text-align: left;
    display: flex;
  }

  .imageResponse {
    width: 30px;
    height: 30px;
  }

  .responsePromptPhone {
    align-content: flex-end;
  }
}
